<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body style="background-color: rgb(52, 236, 46)">
    <a href="./index.html">Home</a>
    ||
    <a href="./service.html">Serviece</a>||
    <a href="./contact.html">contact us</a>
    <h1 class="myHeading">About us</h1>
    <p class="myInfo `">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aut
      facilis facere ad minus maxime a nisi consequatur architecto saepe harum
      quaerat atque tempora nihil alias adipisci vero quidem culpa voluptatum
      perferendis quae id iste. Ex consequuntur tempore sunt quisquam possimus
      dolores, provident sed accusamus dicta ratione eius laboriosam animi
      obcaecati commodi nobis tenetur blanditiis reprehenderit impedit explicabo
      veritatis quod adipisci? Doloremque cum tenetur tempora, sunt cupiditate,
      nam vitae doloribus, expedita laboriosam placeat ex fuga fugit aspernatur
      itaque totam unde animi voluptatem id repellat! Cupiditate expedita
      nesciunt enim, incidunt temporibus possimus, error dignissimos ex alias
      voluptates est sit pariatur maiores!
    </p>
    <script src="../js/help.js"></script>
  </body>
</html>