<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body style="background-color: rgb(192, 57, 113)">
    <a href="./index.html">Home</a>
    ||
    <a href="./about.html">about</a>||
    <a href="./service.html">Serviece</a>

    <h1 class="myHeading">Contact us</h1>

    <p class="myInfo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo culpa
      recusandae distinctio. Quo natus assumenda neque iste dignissimos delectus
      earum corrupti laudantium, inventore sed expedita totam minus consectetur
      voluptatum repudiandae blanditiis reprehenderit cupiditate necessitatibus
      aliquid. Suscipit beatae blanditiis ab soluta iure laudantium officia
      eligendi repudiandae vel alias fuga qui quos facilis iusto fugiat,
      similique nisi a, voluptate laborum dolorum dicta iste, consequuntur
      atque? Modi quibusdam hic illum voluptate unde eaque, fuga molestias
      inventore eos doloremque ipsam recusandae expedita mollitia sapiente a
      odio eius excepturi culpa reiciendis omnis, at enim magnam distinctio
      vitae! Quasi quia veritatis laboriosam est suscipit ea libero.
    </p>
    <hr />
    <span>Developer : </span><strong>{{dev}}</strong>
    <script src="../js/help.js"></script>
  </body>
</html>