<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body style="background-color: rgb(142, 89, 211)">
    <a href="./index.html">Home</a>
    ||
    <a href="./about.html">about</a>||
    <a href="./contact.html">contact us</a>
    <h1 class="myHeading">Servieces</h1>

    <p class="myInfo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, sed
      aperiam! Deserunt sequi doloremque ea soluta impedit qui ut provident amet
      obcaecati dolorem harum, alias debitis quis voluptates ab esse aperiam
      nemo molestias est laborum porro sunt repellat temporibus officiis! Unde
      in suscipit sed? Voluptas in porro fugit iste nam nesciunt, repudiandae
      excepturi? Qui exercitationem dicta illo iure maxime adipisci eaque
      dolores. Ipsam quaerat sequi assumenda ullam incidunt exercitationem atque
      porro! Aperiam asperiores rem est hic mollitia esse voluptate blanditiis,
      voluptatibus dolores debitis dignissimos unde optio doloribus. Consectetur
      animi quaerat ea dignissimos omnis quasi illo ullam, voluptas officia, ut
      rem.
    </p>
    <hr />
    <span>Developer : </span><strong>{{dev}}</strong>
    <script src="../js/help.js"></script>
  </body>
</html>